<footer class="footer">

    <div class="container">

        <div class="footer__top">

            <div class="footer__brand">

                <a
                    href="index.html"
                    class="footer__logo"
                >
                    AIBANIZ
                </a>

                <p class="footer__description">
                    Психологическая практика
                    о возвращении к себе,
                    внутренней опоре и осознанной жизни.
                </p>

            </div>


            <nav class="footer__navigation">

                <a href="index.html#about">
                    Обо мне
                </a>

                <a href="index.html#approach">
                    Подход
                </a>

                <a href="index.html#work">
                    С чем можно прийти
                </a>

                <a href="index.html#testimonials">
                    Отзывы
                </a>

                <a href="index.html#faq">
                    Вопросы
                </a>

                <a href="index.html#contacts">
                    Контакты
                </a>

            </nav>


            <div class="footer__contact">

                <p class="footer__label">
                    Связаться
                </p>

                <a
                    href="#"
                    class="footer__contact-link"
                >
                    WhatsApp ↗
                </a>

                <a
                    href="#"
                    class="footer__contact-link"
                >
                    Telegram ↗
                </a>

            </div>

        </div>


        <div class="footer__bottom">

            <p>
                © 2026 AIBANIZ
            </p>

            <a href="#">
                Политика конфиденциальности
            </a>

        </div>

    </div>

</footer>