<header class="header" id="header">

  <div class="container header__container">

    <!-- LOGO -->

    <a href="index.html" class="logo">
      AIBANIZ
    </a>


    <!-- DESKTOP / MOBILE NAVIGATION -->

    <nav class="navigation" id="navigation">

      <a
        href="index.html#about"
        class="navigation__link"
      >
        Обо мне
      </a>


      <a
        href="index.html#approach"
        class="navigation__link"
      >
        Подход
      </a>


      <a
        href="index.html#work"
        class="navigation__link"
      >
        С чем можно прийти
      </a>


      <a
        href="index.html#return"
        class="navigation__link"
      >
        Возвращение
      </a>


      <a
        href="index.html#testimonials"
        class="navigation__link"
      >
        Отзывы
      </a>


      <a
        href="index.html#faq"
        class="navigation__link"
      >
        Вопросы
      </a>


      <a
        href="index.html#contacts"
        class="navigation__link"
      >
        Контакты
      </a>


      <!-- MOBILE CTA -->

      <a
        href="index.html#contacts"
        class="navigation__cta"
      >
        Записаться
        <span>↗</span>
      </a>

    </nav>


    <!-- DESKTOP CTA -->

    <a
      href="index.html#contacts"
      class="header__cta"
    >
      Записаться
      <span>↗</span>
    </a>


    <!-- MOBILE BURGER -->

    <button
      class="menu-toggle"
      id="menuToggle"
      type="button"
      aria-label="Открыть меню"
      aria-expanded="false"
    >

      <span></span>
      <span></span>
      <span></span>

    </button>

  </div>

</header>